

@mixin imagegrid($qty, $margin){
  width: ((100% - (($qty - 1) * $margin))/$qty);
  &:nth-child(n){
    margin-bottom: $margin;
    margin-right: $margin;
  }  
  &:nth-child(#{$qty}n){
    margin-bottom: 0;
    margin-right: 0;
  } 
}



